body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
    overflow-x: visible;
}

 /*Estilo base para computadoras y pantallas grandes*/ 
.congresointegro-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
    display: block;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/* Media Queries para un ajuste más fino en móviles */

/* Tablets */
@media (max-width: 1024px) {
    .congresointegro-img {
        max-height: 60vh;
        object-position: center top;
    }
}

/* Teléfonos grandes */
@media (max-width: 668px) {
    .congresointegro-img {
        max-height: 50vh;
    }
}

/* Teléfonos pequeños */
@media (max-width: 480px) {
    .congresointegro-img {
        max-height: 40vh;
    }
}

/* Estilos para texto de Descripcion */
.descripcion-proyectoplay {
    background-color: #0e4d28; /* Color de fondo solicitado */
    color: #d5dcbb;            /* Texto blanco para mejor contraste */
    padding: 50px 20px;
    text-align: center;
}

.descripcion-proyectoplay h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: bold;
}

.descripcion-proyectoplay p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
    font-size: 1.1em;
}

/* Estilos para Mapa y Redes Sociales */

.ubicacion-redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0e4d28;
    color: #d5dcbb;
    padding: 50px 20px;
    text-align: center;
}

.mapa, .redes-sociales {
    flex: 1 1 300px;
    max-width: 500px;
    margin: 20px;
}

.redes-sociales h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.redes-sociales a {
    display: inline-block;
    color: #c18700; /* Color mostaza */
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px 0;
    transition: color 0.3s;
}

.redes-sociales a:hover {
    color: #d9a800; /* Un poco más oscuro en hover */
}

/* Responsivo */
@media (max-width: 768px) {
    .ubicacion-redes {
        flex-direction: column;
    }
}



