body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
    overflow-x: visible;
}

 /*Estilo base para computadoras y pantallas grandes*/ 
.congresointegro-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
    display: block;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/* Media Queries para un ajuste más fino en móviles */

/* Tablets */
@media (max-width: 1024px) {
    .congresointegro-img {
        max-height: 60vh;
        object-position: center top;
    }
}

/* Teléfonos grandes */
@media (max-width: 668px) {
    .congresointegro-img {
        max-height: 50vh;
    }
}

/* Teléfonos pequeños */
@media (max-width: 480px) {
    .congresointegro-img {
        max-height: 40vh;
    }
}



