body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fff8f0;
    color: #333;
}

 /*Estilo base para computadoras y pantallas grandes*/ 
.bannerCongreso-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
    display: block;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/* Media Queries para un ajuste más fino en móviles */

/* Tablets */
@media (max-width: 1024px) {
    .bannerCongreso-img {
        max-height: 60vh;
        object-position: center top;
    }
}

/* Teléfonos grandes */
@media (max-width: 668px) {
    .bannerCongreso-img {
        max-height: 50vh;
    }
}

/* Teléfonos pequeños */
@media (max-width: 480px) {
    .bannerCongreso-img {
        max-height: 40vh;
    }
}

/* Estilos para texto de Descripcion */

.descripcion-congreso {
    background-color: #0e4d28; /* Color de fondo solicitado */
    color: #d5dcbb;            /* Texto blanco para mejor contraste */
    padding: 50px 20px;
    text-align: center;
}

.descripcion-congreso h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: bold;
}

.descripcion-congreso p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
    font-size: 1.1em;
}

/* Botón para registrarte */
.btn-registrate {
    display: inline-block;
    padding: 15px 30px;
    background-color: #d5dcbb; /* Un tono mostaza/dorado que resalta sobre el verde */
    color: #0e4d28;            /* Texto en verde musgo */
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: bold;
    transition: background 0.3s, transform 0.3s;
    margin-top: 30px;
}

.btn-registrate:hover {
    background-color: #b68c03; /* Color más oscuro al pasar el mouse */
    transform: scale(1.05);    /* Pequeño efecto de crecimiento */
}

